<tr>
  {{#if esDirectorio}}
    <td>
      <p> {{archivo.name}} </p>
    </td>
    <td class='text-center'>
      DIRECTORIO
    </td>
    <td> </td>
  {{else}}
    <td>
      {{archivo.name}}
    </td>
    <td class='text-center'>
      ARCHIVO
    </td>
    <td> </td>
  {{/if}}
</tr>
