a.active {
  font-weight: bold;
}

html {
  background-color: #ECF0F5;
}

.skin-purple-light .content-wrapper, .skin-purple-light .main-footer {
  border-left: 0px;
}

aside.main-sidebar {
  border-right: 1px solid #d2d6de;
}

.padding-bottom {
  margin-bottom: 1em;
}

.conAccion {
  cursor: pointer;
}

.padding-right {
  padding-right: 7px;
}

.skin-purple-light .sidebar-menu>li>a {
  font-weight: 200;
}

.skin-purple-light .sidebar-menu>li>a.active {
  font-weight: 700;
}


.skin-purple-light .sidebar-menu>li:hover>a {
    background: #E7E7FD;

}

.skin-purple-light .sidebar-menu>li.active>a {
    background: #EDEDFF;
}
