#page-leftbar {
	width: 180px;
	position: fixed;
	top: 30px;
	bottom: 0;
	padding-top: 18px;
}

#page-content {
	margin-left: 180px;
	position: absolute;
	bottom: 0;
	top: 45px;
	left: 0;
	right: 0;
	min-height: 10px;
	border-top: 1px solid rgb(184, 184, 184);
	
}

.titulo {
	color: #b7b7b7;
}

.navbar-inverse {
	background-color:rgb(230, 231, 232);
}

.navbar-inverse img {
	margin-left: 25px;
	margin-top: 3px;
}

.navbar {
	min-height: 45px;
}


.navbar-inverse .navbar-nav>li>a {
}


header .toolbar .dropdown, header #headerbardropdown, header #rightmenu-trigger {
	border: 0;
}

.navbar-inverse .navbar-nav>li>a {
	color: rgba(0, 0, 0, 0.5);
}

header a.hasnotifications {
	color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: black;
}