#page-leftbar {
    width: 180px;
    position: fixed;
    top: 30px;
    bottom: 0;
    padding-top: 18px;
}

#page-content {
    overflow-x: hidden;
    margin-left: 180px;
    position: absolute;
    bottom: 0;
    top: 45px;
    left: 0;
    right: 0;
    min-height: 10px;
}

.titulo {
    color: #b7b7b7;
}

.navbar-inverse {
    background-color:rgb(230, 231, 232);
}

.navbar-inverse img {
    margin-left: 25px;
    margin-top: 3px;
}

.navbar {
    min-height: 45px;
}


.navbar-inverse .navbar-nav>li>a {
}


header .toolbar .dropdown, header #headerbardropdown, header #rightmenu-trigger {
    border: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgba(0, 0, 0, 0.5);
}

header a.hasnotifications {
    color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: black;
}

.acciones-depuracion {
    position: fixed;
    bottom: 15px;
    left: 8px;
    z-index: 5000;
}

.mini-icono {
    opacity: 0.5;
    margin-left: 10px;
    cursor: pointer;
}

.mini-icono:hover {
    opacity: 1;
}


ul.archivos {
    list-style: none;
    padding: 0;
    margin-left: 1em;
}

ul.archivos li {
    padding-bottom: 5px;
}

ul.archivos li:hover {
    background-color: white;
}

.carpeta {
    color: rgb(21, 180, 65);
}

.archivo {
    color: rgb(137, 180, 226);
}

tr.archivo:hover {
    background-color: rgb(253, 255, 228);
}

table.tabla-archivos {
    margin-right: 20px;
}

.col-size {
    text-align: right;
}


header {
    border-bottom: 1px solid rgb(184, 184, 184) !important;
    z-index: 100 !important;
}

#page-leftbar {
    z-index: 200 !important;
    top: 44px !important;
    color: red;
    box-shadow: none;
    border-right: 1px solid rgb(184, 184, 184) !important;
}

.clickeable {
    cursor: pointer;
}





.control-label {
    width: 180px;
}

.campo-texto {
    display: inline-block;
}


.view-animate {
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
  opacity: 0;
}


.barra-botones {
    margin-bottom: 20px;
}

.container-principal {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    padding-top: 9px;
    width: 450px;
    text-align: justify;
}

h1.titular-principal {
    width: 200px;
    margin: auto !important;
    padding-top: 40px !important;
    float: none !important;
}


.container {
    padding-left: 20px;
padding-right: 20px;
}


#sidebar a.actual {
}


.input-busqueda {
    width: 150px;
    float: right;
}



/* you can also define the transition style
   on the base class as well (.repeat-item) */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.25s linear all;
  transition:0.25s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}


.td-avatar {
    width: 120px;
}

.titulo-frase {
    font-weight: 100;
}

.active {
    background: url("../img/menu-active.png") no-repeat scroll right center rgba(220, 220, 220, 1);
    margin-right: -1px;
}


.error {
    color: red;
}

.centrado {
   text-align:center;
   height: 200px;
   margin-top: 50px;
}



.nota {
    color: gray;
    margin: -10px;
    text-align: right;
}

.offline {
    position: fixed;
    z-index: 200;
    top: 0;
    margin: auto;
    left: 45%;
    color: rgb(216, 79, 79);
    padding: 5px;
}

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

input, textarea /*.contenteditable?*/ {
    -webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}

#page-heading {
	background: hidden;
}

.view-principal {
	background-image: url('../img/fondo.png');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.path {
    color:gray;
    margin-bottom: 15px;
}
