<div id="page-heading">
  <h1>Amigos</h1>
</div>

<div class="container">
  <div class='barra-botones'>
      <button ng-click='agregar()' class='btn btn-success'><i class='icon icon-plus'></i> Agregar</button>
  </div>

  <table class="table table-bordered tabla-archivos" ng-hide='amigos'>
    <tr>
      <td>Mmm... parece que no estás conectado a una red o tus amigos no están conectados.</td>
    </tr>
  </table>

  <table class="table table-bordered tabla-archivos" ng-show='amigos'>

    <tbody>

      <tr ng-repeat='a in amigos' class='archivo repeat-item'>
        <td ng-hide='a.data.nombre' class='td-avatar'>
            <a href ng-click='abrir_descargas_de(a)'>Ingresar</a>
        </td>

        <td ng-show='a.data.nombre' class='td-avatar'>
            <a href ng-click='abrir_descargas_de(a)'><img src='http://{{ a.ip }}:{{a.port}}/avatar'></a>
        </td>

        <td>
           &nbsp;
           <p ng-hide='a.data.nombre'><img src='assets/img/spinner.gif'></p>
           <h3 ng-show='a.data'><a href ng-click='abrir_descargas_de(a)'>{{a.data.nombre}}</a></h3>
           <h4 ng-show='a.data' class='titulo-frase'>{{a.data.frase}}
          <span class="pull-right">({{ a.ip }})</span>
           </h4>

        </td>

      </tr>

    </tbody>

  </table>

</div>
