<div id="page-heading">
	<h1>Amigos</h1>
</div>
		
<div class="container">
	
	<table class="table table-bordered tabla-archivos" ng-show='amigos'>
		
		<tbody>
			<tr ng-repeat='a in amigos' class='archivo repeat-item'>
				<td><button class='btn btn-success' ng-click='abrir_descargas_de(a)'>Abrir</button></td>
				<td>
           &nbsp;
           <p ng-hide='a.data.nombre'><img src='assets/img/spinner.gif'></p>
            
           <h1 ng-show='a.data'>{{a.data.nombre}}</h1>
           <p ng-show='a.data'>{{a.data.frase}}</p>
				</td>
          
			</tr>
        
		</tbody>
		
	</table>
	
</div>