<div id="page-heading">
  <h1>Mis archivos</h1>
</div>

		
<div class="container">
	<p ng-hide='archivos'> ñ_ñ </p>
	
	<div ng-hide='esta_en_directorio_raiz'>
		<p ng-show='archivos'>Estás en <code>{{directorio}}</code></p>
		<button ng-click='regresar()'>Regresar</button>
	</div>
	
	<ul class='archivos' ng-show='archivos'>
		<li ng-repeat='a in archivos'>
			
			<!-- Si es directorio -->
			<span ng-show="a.type === 'folder'">
				<i class='icon-folder-open'></i>
				{{a.name}}
				<button ng-click='abrir_directorio(a.name)'>Abrir</button>
			</span>
				
			<span ng-show="a.type === 'file'">
				<i class='icon-file'></i>
				{{a.name}} ({{a.size | bytes}}) 
				<button class='btn btn-success btn-xs' ng-click='descargar(a)'>Descargar</button></li>
			</span>
				
	</ul>

</div>