<div id="page-heading">
  <h1>Descargas</h1>
</div>


<div class="container">
	<div class='barra-botones'>
		<button class='btn btn-success' ng-click='abrir_directorio()'>  <i class='icon-folder-open'></i> Abrir directorio </button>
		<button class='btn btn-info' ng-click='limpiar_completados()'>  <i class='icon-eraser'></i> Limpiar completados</button>
	</div>

	<table class="table table-bordered tabla-archivos" ng-hide='Descargas'>
		<tr>
			<td>Actualmente no hay descargas en curso, visitá la sección <a href='#/amigos'>amigos</a> para buscar archivos.</td>
		</tr>
	</table>

	<table class="table table-bordered tabla-archivos" ng-show='Descargas'>

		<thead>
			<tr>
				<th width='80%'>Nombre</th>
				<th width='20%' class='col-size'>Progreso</th>
				<th>Acciones</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat='d in Descargas' class='archivo  repeat-item'>
				<td>{{d.name}} <span ng-show='d.estado == "error"'>No se pudo descargar el archivo!</span></td>
				<!-- <td>{{d.url}}</td> -->
				<td class='col-size'>
					<progreso model="d"></progreso>
				</td>
				<td ng-show='d.transmitido == d.size'>
					<button class="btn btn-success btn-xs" ng-click='abrir_item(d)'> <i class="icon-upload-alt"></i> </button>
				</td>
				<td ng-show='d.transmitido != d.size'>
					<button class="btn btn-danger btn-xs" disabled> <i class="icon-remove"></i> </button>
				</td>
			</tr>
		</tbody>

	</table>

</div>
