<div id="page-heading">
  <h1>Descargas</h1>
</div>

		
<div class="container">
	<div class='barra-botones'>
		<button class='btn btn-sm btn-success' ng-click='abrir_directorio()'>  <i class='icon-folder-open'></i> Abrir directorio </button>
	</div>
	
	<p ng-hide='Descargas'>eeemmm... no hay ninguna descarga en curso.</p>
	
	<table class="table table-bordered tabla-archivos" ng-show='Descargas'>
		
		<thead>
			<tr>
				<th width='80%'>Nombre</th>
				<th width='20%' class='col-size'>Progreso</th>
				<th>Acciones</th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat='d in Descargas' class='archivo' ng-show='Descargas'>
				<td>{{d.name}}</td>
				<!-- <td>{{d.url}}</td> -->
				<td class='col-size'>
					<progreso model="d"></progreso>
				</td>
				<td ng-show='d.transmitido == d.size'>
					<button class="btn btn-success btn-xs" ng-click='abrir_item(d)'> <i class="icon-upload-alt"></i> </button>
				</td>
				<td ng-show='d.transmitido != d.size'>
					<button class="btn btn-danger btn-xs"> <i class="icon-remove"></i> </button>
				</td>
			</tr>
		</tbody>
		
	</table>
	
</div>