<div class="modal-header">
    <h3>Agregar amigo desde una dirección</h3>
</div>

<div class="modal-body">

    <p>Esta sección te permite conectar a un equipo utilizando su dirección
    IP o hostname.</p>

    <p>Ingresa la dirección del equipo a conectar. Esta dirección puedes
    verla en la pestaña "Preferencias" del otro equipo.</p>

    <p>Dirección <input ng-model='direccion'></input></p>

</div>

<div class="modal-footer">
    <button ng-disabled='ip_valida === false' class="btn btn-success" ng-click="guardar()">Agregar</button>
    <button class="btn btn-warning" ng-click="cancelar()">Cancelar</button>
</div>
