<div id="page-heading">
	<h1>Preferencias</h1>
</div>

		
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h4>Mis datos</h4>
							<div class="options">
							</div>
						</div>
						<div class="panel-body">
							<p>¿Como quieres aparecer en la red?</p>
							
							<p>
							<label>Nombre <input ng-model='nombre'></input></label>
							</p>
						
							<p>
							<label>Frase <input ng-model='frase'></input></label>
							</p>
							
							
							
							<p>
								<button class='btn btn-success' ng-click='guardar_datos()'>Guardar</button>
							</p>
							
							
						</div>
					</div>
				</div>
			</div>

		</div>