<div id="page-heading">
	<h1>Preferencias</h1>
</div>

		
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					
					<div>
				      <div class="panel-body" style="border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">
								<p>Esta información se mostrará en la sección <a href='#/amigos'>amigos</a>
								de las otras netbooks.</p>
								
                 <input style="display:none;" id="fileDialog" type="file" />
								
						<form class="form-horizontal">
                
						  <div class="form-group">
						    <label for="focusedinput" class="col-sm-3 control-label">Avatar</label>
						    <div class="campo-texto">
                  <a href ng-click='cambiar_imagen_de_perfil()'><img id='imagen_avatar' width=100 height=100 ng-src='{{url_avatar}}'></a>
						    </div>
						  </div>
							
						  <div class="form-group">
						    <label for="focusedinput" class="col-sm-3 control-label">Tu nombre</label>
						    <div class="campo-texto">
						      <input ng-model='nombre' type="text" class="form-control" id="focusedinput" placeholder="nombre">
						    </div>
						  </div>
							
						  <div class="form-group">
						    <label for="disabledinput" class="col-sm-3 control-label">Una frase que te guste</label>
						    <div class="campo-texto">
						      <input ng-model='frase' type="text" class="form-control" placeholder="mi frase">
						    </div>
						  </div>
				
						</form>
								
				   </div>
				      <div class="panel-footer">
				      	<div class="row">
				      		<div class="col-sm-6 col-sm-offset-3">
				      			<div class="btn-toolbar">
					      			<button ng-click='guardar_datos()' class="btn-primary btn">Guardar</button>
				      			</div>
				      		</div>
				      	</div>
				      </div>
				  </div>
					
					
				</div>
			</div>

		</div>
