<div id="page-heading">
	
	<!--
  <ol class="breadcrumb">
		<li><a href="">Inicio</a></li>
		<li>Actual</li>
	</ol>
	-->
	
	<h1 class='titular-principal'>¡ Hola !</h1>
</div>

		<div class="container container-principal">

			<p>Te damos la bienvenida a <b>huayraCompartir</b>, una herramienta creada
			para compartir todo tipo de archivos dentro del aula.</p>
			
			<p>Para ver los archivos que se comparten en la red usá la sección
			<a href='#/amigos'>amigos</a> y para comenzar a compartir copiá algo
			dentro de tu <a href ng-click='abrir_carpeta_compartida()'>carpeta compartida</a>.</p>
			
			
			<p>Ah, y no te olvides de cargar tus datos en la sección
			<a href='#/preferencias'>Preferencias</a>, así le
			das un toque de personalidad a tus archivos compartidos.</p>

		</div>