<div class="wrapper">

  <header class="main-header">

    {{#link-to "index" class="logo"}}
    <span class="logo-mini"><b>huayra</b> compartir</span>
    <span class="logo-lg"><b>huayra</b> compartir</span>
    {{/link-to}}

    <nav class="navbar navbar-static-top" role="navigation">

    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar" style="height: auto;">
      <ul class="sidebar-menu">
        <li class="header">NAVIGATION</li>

        <li>{{#link-to "index"}}index{{/link-to}}</li>
        <li>{{#link-to "archivos" (query-params host="localhost" path="Ceferino" )}}mis archivos{{/link-to}}</li>
        <li>{{#link-to "archivos" (query-params host="" path="")}}test{{/link-to}}</li>

      </ul>
    </section>
  </aside>

  <div class="content-wrapper" style="min-height: 400px;">

    {{outlet}}

  </div>

</div>
