<section class="content-header">
</section>

<section class="content">

  <div class="row">
    <div class="col-xs-12">

      <div class="alert alert-info alert-dismissible">
        <h4><i class="icon fa fa-info"></i> Oh, algo anda mal ...</h4>
        No se pueden mostrar los archivos, ¿tal vez exista un problema de conexión?.
      </div>
    </div>
  </div>
</section>
