<section class="content">

  <div class="row">
    <div class="col-xs-12">

      <h1>¡Hola!</h1>

      <p>Te damos la bienvenida a <strong>huayra-compartir</strong> ...
      </p>

    </div>
  </div>
</section>
