<section class="content">

  <div class="row">
    <div class="col-xs-12">

      <div class="white-box">
        <h1 class='text-center'>¡ Hola !</h1>

        <p>Te damos la bienvenida a <b>huayraCompartir</b>, una herramienta creada
  			para compartir todo tipo de archivos dentro del aula.</p>

  			<p>Para ver los archivos que se comparten en la red usá la sección
  			{{#link-to "equipos"}}equipos{{/link-to}} y para comenzar a compartir copiá algo
  			dentro de tu carpeta compartida.</p>


  			<p>Ah, y no te olvides de cargar tus datos en la sección
          {{#link-to "preferencias"}}Preferencias{{/link-to}}, así le
  			das un toque de personalidad a tus archivos compartidos.</p>
      </div>


    </div>
  </div>
</section>
